<div class="contact-form container">
  <h1 class="mx-3">New Contact</h1>

  <form class="col-sm-5" #contactForm="ngForm">
    <div class="form-group">
      <label for="title">Title</label>
      <select [(ngModel)]="contact.title" class="form-control" id="title" name="title" required>
        <option *ngFor="let title of titles" [value]="title">{{title}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="firstName">First name</label>
      <input [(ngModel)]="contact.firstName" type="text" class="form-control" name="firstName" id="firstName" autocapitalize="off" autocomplete="false" required>
    </div>

    <div class="form-group">
      <label for="middleName">Middle names</label>
      <input [(ngModel)]="contact.middleName" type="text" class="form-control" id="middleName" name="middleName" autocapitalize="off" autocomplete="false">
    </div>

    <div class="form-group">
      <label for="lastName">Surname</label>
      <input [(ngModel)]="contact.lastName" type="text" class="form-control" id="lastName" name="lastName" autocapitalize="off" autocomplete="false" required>
    </div>

    <div class="form-group">
      <label for="gender">Gender</label>
      <select [(ngModel)]="contact.gender" class="form-control" id="gender" name="gender" required>
        <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="dateOfBirth">Birth date</label>
      <input [(ngModel)]="contact.birthDate" type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" />
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone number</label>
      <input [(ngModel)]="contact.phoneNumber" type="text" class="form-control" id="phoneNumber" name="phoneNumber">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input [(ngModel)]="contact.email" type="email" class="form-control" id="email" name="email">
    </div>

    <button type="submit" class="btn btn-primary my-2">Submit</button>
  </form>
</div>
