<div class="contact-form container">
  <h1 class="mx-3">New Contact</h1>

  <form class="col-sm-5" [formGroup]="form" (ngSubmit)="displayContact()">

    <div class="form-group">
      <label for="title">Title</label>
      <select class="form-control" id="title">
        <option *ngFor="let title of titles" [value]="title">{{title}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" formControlName="firstName" id="firstName" autocapitalize="off" autocomplete="false">

      <div>

      </div>
    </div>

    <div class="form-group">
      <label for="middleName">Middle names</label>
      <input type="text" class="form-control" formControlName="middleName" id="middleName" autocapitalize="off" autocomplete="false">
    </div>

    <div class="form-group">
      <label for="lastName">Surname</label>
      <input type="text" class="form-control" formControlName="lastName" id="lastName" autocapitalize="off" autocomplete="false">
    </div>

    <div class="form-group">
      <label for="gender">Gender</label>
      <select class="form-control" formControlName="gender" id="gender">
        <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone number</label>
      <input type="text" class="form-control" formControlName="phoneNumber" appLocalPhoneNumber id="phoneNumber">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" formControlName="email" id="email">
    </div>

    <button type="submit" class="btn btn-primary my-2">Submit</button>

  </form>
</div>
